openapi: 3.0.3
info:
  title: Control API
  description: |
    API wrapper para ativação e desativação de lojas em plataformas de terceiros.
    
    Esta API funciona como **ponte** entre o sistema central e plataformas de terceiros 
    (ex.: AnotaAi, Delivery VIP). O objetivo é permitir que o sistema principal ative, 
    desative e consulte o status de lojas sem precisar integrar diretamente com cada              example:
                plataforma: deliveryvip
                lojas:
                  - id_loja: "64d3eebb-b3c3-4d13-9297-bd1735b12c6d"
                    status: ativo
                    documento: "12345678000190"
                    nome_fantasia: "Pizzaria Bella Vista"
                  - id_loja: "8b302253-de01-444b-bbd5-8289419c899f"
                    status: em_teste
                    documento: "98765432000110"
                    nome_fantasia: "Hamburgueria Central"
                  - id_loja: "b34de25f-82c6-4206-b9cf-4a8f95c40dea"
                    status: bloqueado
                    documento: "11122233000144"
                    nome_fantasia: "Lanchonete do João"
                  - id_loja: "f45de25f-82c6-4206-b9cf-4a8f95c40dea"
                    status: teste_expirado
                    documento: "55566677000188"
                    nome_fantasia: "Açaí da Maria"
                  - id_loja: "a12de25f-82c6-4206-b9cf-4a8f95c40dea"
                    status: demonstracao
                    documento: "99988877000166"
                    nome_fantasia: "Café Central"
                  - id_loja: "c67de25f-82c6-4206-b9cf-4a8f95c40dea"
                    status: nao_encontrado
                    documento: ""
                    nome_fantasia: ""  
    A API **não mantém banco de dados próprio** – apenas encaminha requisições para as 
    plataformas externas e retorna o resultado.
    
    ## Status das Lojas por Plataforma
    
    ### AnotaAI
    - `ativo`: Loja ativa na plataforma
    - `bloqueado`: Loja bloqueada/inativa na plataforma
    - `nao_encontrado`: Loja não encontrada
    
    ### DeliveryVip
    - `ativo`: Loja com subscription ACTIVATED e não bloqueada
    - `em_teste`: Loja em período de trial (TRIAL)
    - `teste_expirado`: Período de trial expirado (TRIAL_EXPIRED)
    - `cancelado`: Subscription cancelada (CANCELLED)
    - `bloqueado`: Loja com subscription ACTIVATED mas bloqueada
    - `demonstracao`: Loja em modo demonstração (DEMO)
    - `nao_encontrado`: Loja não encontrada
  version: 1.0.3
  contact:
    name: GRSoft
    email: contato@grsoft.com.br
  license:
    name: MIT
servers:
  - url: https://control-api.suporte.grsoft.com.br
    description: Servidor de produção

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Token de autorização no formato Bearer

  schemas:
    RespostaStatusMultiplasLojas:
      type: object
      properties:
        plataforma:
          type: string
          enum: [anotaai, deliveryvip]
          description: Identificador da plataforma
          example: anotaai
        lojas:
          type: array
          items:
            $ref: '#/components/schemas/StatusLojaDetalhes'
          description: Lista com o status de cada loja consultada
      required:
        - plataforma
        - lojas

    StatusLojaDetalhes:
      type: object
      properties:
        id_loja:
          type: string
          description: Identificador da loja na plataforma
          example: "678fab971459fe0019a59c8c"
        status:
          type: string
          enum: [ativo, em_teste, teste_expirado, cancelado, bloqueado, demonstracao, nao_encontrado]
          description: |
            Status atual da loja:
            - `ativo`: Loja encontrada e ativa na plataforma
            - `em_teste`: Loja em período de teste/trial (DeliveryVip)
            - `teste_expirado`: Período de teste expirado (DeliveryVip)
            - `cancelado`: Loja cancelada (DeliveryVip)
            - `bloqueado`: Loja bloqueada/suspensa (ambas plataformas)
            - `demonstracao`: Loja em modo demonstração (DeliveryVip)
            - `nao_encontrado`: Loja não encontrada na plataforma
          example: ativo
        documento:
          type: string
          description: Documento da loja (CPF/CNPJ)
          example: "12345678000190"
        nome_fantasia:
          type: string
          description: Nome fantasia da loja
          example: "Pizzaria Bella Vista"
      required:
        - id_loja
        - status
        - documento
        - nome_fantasia

    RespostaErro:
      type: object
      properties:
        error:
          type: string
          enum: 
            - invalid_request
            - unauthorized
            - not_found
            - bad_gateway
            - internal_server_error
          description: Tipo do erro
          example: invalid_request
        mensagem:
          type: string
          description: Descrição detalhada do erro
          example: "Parâmetros plataforma e id_loja são obrigatórios"
      required:
        - error
        - mensagem

    RespostaSaude:
      type: object
      properties:
        status:
          type: string
          example: ok
      required:
        - status

    RequisicaoMultiplasLojas:
      type: object
      properties:
        ids_lojas:
          type: array
          items:
            type: string
          description: Lista de IDs das lojas para operação
          example: ["68ae03ea4f39ca0019098cd3", "678fab971459fe0019a59c8c"]
          minItems: 1
      required:
        - ids_lojas

    RespostaOperacaoMultiplasLojas:
      type: object
      properties:
        plataforma:
          type: string
          enum: [anotaai, deliveryvip]
          description: Identificador da plataforma
          example: anotaai
        resultados:
          type: array
          items:
            $ref: '#/components/schemas/ResultadoOperacaoLoja'
          description: Lista com o resultado de cada operação
      required:
        - plataforma
        - resultados

    ResultadoOperacaoLoja:
      type: object
      properties:
        id_loja:
          type: string
          description: Identificador da loja na plataforma
          example: "68ae03ea4f39ca0019098cd3"
        status:
          type: string
          enum: [ativo, bloqueado, nao_encontrado]
          description: Status resultante da operação
          example: ativo
        sucesso:
          type: boolean
          description: Indica se a operação foi executada com sucesso
          example: true
        mensagem:
          type: string
          description: Mensagem descritiva do resultado
          example: "Loja ativada com sucesso"
        erro:
          type: string
          enum: 
            - invalid_request
            - unauthorized
            - not_found
            - bad_gateway
            - internal_server_error
          description: |
            Tipo do erro (presente apenas quando sucesso=false):
            - `invalid_request`: Dados inválidos para a operação (ex: loja em estado que não permite a operação)
            - `unauthorized`: Erro de autenticação com a plataforma
            - `not_found`: Loja não encontrada na plataforma
            - `bad_gateway`: Erro de comunicação com a plataforma (timeout, conexão)
            - `internal_server_error`: Erro interno do servidor
          example: invalid_request
      required:
        - id_loja
        - status
        - sucesso
        - mensagem

  parameters:
    ParametroPlataforma:
      name: plataforma
      in: path
      required: true
      schema:
        type: string
        enum: [anotaai, deliveryvip]
      description: Identificador da plataforma
      example: anotaai

  responses:
    ErroNaoAutorizado:
      description: Token de autorização inválido ou ausente
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RespostaErro'
          example:
            error: unauthorized
            mensagem: "Token de autorização é obrigatório"

    ErroRequisicaoInvalida:
      description: Parâmetros inválidos
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RespostaErro'
          example:
            error: invalid_request
            mensagem: "Parâmetros plataforma e id_loja são obrigatórios"

    ErroNaoEncontrado:
      description: Plataforma não suportada ou loja não encontrada na plataforma
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RespostaErro'
          examples:
            plataforma_nao_suportada:
              value:
                error: not_found
                mensagem: "Plataforma não suportada: invalidplatform"
            loja_nao_encontrada:
              value:
                error: not_found
                mensagem: "Loja não encontrada na plataforma"

    ErroBadGateway:
      description: Erro ao comunicar com a plataforma externa
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RespostaErro'
          example:
            error: bad_gateway
            mensagem: "Erro ao comunicar com a plataforma: timeout"

paths:
  /health:
    get:
      summary: Health Check
      description: Verifica se a API está funcionando corretamente
      operationId: verificacaoSaude
      security: []
      tags:
        - Health Check
      responses:
        '200':
          description: API funcionando corretamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespostaSaude'

  /plataformas/{plataforma}/lojas/ativar:
    patch:
      summary: Ativar lojas
      description: Ativa lojas em uma plataforma específica
      operationId: ativarMultiplasLojas
      tags:
        - Lojas
      parameters:
        - $ref: '#/components/parameters/ParametroPlataforma'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequisicaoMultiplasLojas'
            example:
              ids_lojas: ["68ae03ea4f39ca0019098cd3", "678fab971459fe0019a59c8c"]
      responses:
        '200':
          description: Operação de ativação processada (podem haver falhas individuais)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespostaOperacaoMultiplasLojas'
              example:
                plataforma: anotaai
                resultados:
                  - id_loja: "68ae03ea4f39ca0019098cd3"
                    status: ativo
                    sucesso: true
                    mensagem: "Loja ativada com sucesso"
                  - id_loja: "678fab971459fe0019a59c8c"
                    status: ativo
                    sucesso: false
                    mensagem: "Erro ao ativar loja: Loja não encontrada na plataforma"
                    erro: not_found
        '400':
          $ref: '#/components/responses/ErroRequisicaoInvalida'
        '401':
          $ref: '#/components/responses/ErroNaoAutorizado'
        '404':
          $ref: '#/components/responses/ErroNaoEncontrado'
        '502':
          $ref: '#/components/responses/ErroBadGateway'

  /plataformas/{plataforma}/lojas/desativar:
    patch:
      summary: Desativar lojas
      description: Desativa lojas em uma plataforma específica
      operationId: desativarMultiplasLojas
      tags:
        - Lojas
      parameters:
        - $ref: '#/components/parameters/ParametroPlataforma'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequisicaoMultiplasLojas'
            example:
              ids_lojas: ["64d3eebb-b3c3-4d13-9297-bd1735b12c6d", "8b302253-de01-444b-bbd5-8289419c899f"]
      responses:
        '200':
          description: Operação de desativação processada (podem haver falhas individuais)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespostaOperacaoMultiplasLojas'
              example:
                plataforma: deliveryvip
                resultados:
                  - id_loja: "64d3eebb-b3c3-4d13-9297-bd1735b12c6d"
                    status: bloqueado
                    sucesso: true
                    mensagem: "Loja desativada com sucesso"
                  - id_loja: "8b302253-de01-444b-bbd5-8289419c899f"
                    status: ativo
                    sucesso: false
                    mensagem: "Erro ao desativar loja: Dados inválidos para a operação"
                    erro: invalid_request
        '400':
          $ref: '#/components/responses/ErroRequisicaoInvalida'
        '401':
          $ref: '#/components/responses/ErroNaoAutorizado'
        '404':
          $ref: '#/components/responses/ErroNaoEncontrado'
        '502':
          $ref: '#/components/responses/ErroBadGateway'

  /plataformas/{plataforma}/lojas/status:
    get:
      summary: Consultar status das lojas
      description: |
        Consulta o status das lojas na plataforma.
        
        Os IDs das lojas podem ser fornecidos no header "X-Lojas-IDs" separados por vírgula.
        Se o header não for fornecido, retorna o status de todas as lojas da plataforma.
        
        **Exemplo de uso com IDs específicos:**
        ```
        GET /plataformas/anotaai/lojas/status
        X-Lojas-IDs: 68ae03ea4f39ca0019098cd3,678fab971459fe0019a59c8c
        ```
        
        **Exemplo de uso para todas as lojas:**
        ```
        GET /plataformas/anotaai/lojas/status
        ```
      operationId: obterStatusMultiplasLojas
      tags:
        - Lojas
      parameters:
        - $ref: '#/components/parameters/ParametroPlataforma'
        - name: X-Lojas-IDs
          in: header
          required: false
          schema:
            type: string
          description: Lista de IDs das lojas separados por vírgula. Se não fornecido, retorna todas as lojas da plataforma.
          example: "68ae03ea4f39ca0019098cd3,678fab971459fe0019a59c8c"
      responses:
        '200':
          description: Status das lojas consultado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespostaStatusMultiplasLojas'
              example:
                plataforma: deliveryvip
                lojas:
                  - id_loja: "64d3eebb-b3c3-4d13-9297-bd1735b12c6d"
                    status: ativo
                    documento: "12345678000190"
                    nome_fantasia: "Pizzaria Bella Vista"
                  - id_loja: "8b302253-de01-444b-bbd5-8289419c899f"
                    status: em_teste
                    documento: "98765432000110"
                    nome_fantasia: "Hamburgueria Central"
                  - id_loja: "b34de25f-82c6-4206-b9cf-4a8f95c40dea"
                    status: bloqueado
                    documento: "11122233000144"
                    nome_fantasia: "Lanchonete do João"
                  - id_loja: "f45de25f-82c6-4206-b9cf-4a8f95c40dea"
                    status: teste_expirado
                    documento: "55566677000188"
                    nome_fantasia: "Açaí da Maria"
                  - id_loja: "c67de25f-82c6-4206-b9cf-4a8f95c40dea"
                    status: nao_encontrado
                    documento: ""
                    nome_fantasia: ""
        '400':
          $ref: '#/components/responses/ErroRequisicaoInvalida'
        '401':
          $ref: '#/components/responses/ErroNaoAutorizado'
        '404':
          $ref: '#/components/responses/ErroNaoEncontrado'
        '502':
          $ref: '#/components/responses/ErroBadGateway'

tags:
  - name: Health Check
    description: Endpoint para verificação de saúde da API
  - name: Lojas
    description: Operações relacionadas às lojas
